<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssu.howabouthere.mapper.BoardMapper">
    <insert id="insertArticle" parameterType="com.ssu.howabouthere.vo.Board">
        INSERT INTO BOARD(title, contents, name, longitude, latitude,
                          region_1st_name, region_2nd_name, region_3rd_name, region_4th_name, publishedDate)
        VALUES (#{title}, #{contents}, #{name}, #{longitude}, #{latitude},
                #{region_1st_name}, #{region_2nd_name}, #{region_3rd_name}, #{region_4th_name}, #{publishedDate})
    </insert>
    <delete id="deleteArticle" parameterType="java.lang.Long">
        DELETE FROM BOARD WHERE boardId = #{boardId}
    </delete>
    <select id="selectAllUploadedArticles" resultType="com.ssu.howabouthere.vo.Board">
        SELECT * FROM BOARD
    </select>
    <select id="selectAllUploadedArticlesByUsername" parameterType="java.lang.String" resultType="com.ssu.howabouthere.vo.Board">
        SELECT * FROM BOARD
        WHERE name = #{name}
    </select>
    <select id="selectUploadedArticle" parameterType="java.lang.Long" resultType="com.ssu.howabouthere.vo.Board">
        SELECT * FROM BOARD
        WHERE id = #{boardId}
    </select>
    <update id="updateArticle" parameterType="com.ssu.howabouthere.vo.Board">
        UPDATE BOARD
        SET title = #{title},
            contents = #{contents},
            longitude = #{longitude},
            latitude = #{latitude},
            region_1st_name = #{region_1st_name},
            region_2nd_name = #{region_2nd_name},
            region_3rd_name = #{region_3rd_name},
            region_4th_name = #{region_4th_name},
            publishedDate = #{publishedDate}
        WHERE id = #{id}
    </update>
    <select id="selectAllUploadedArticlesByLocation" parameterType="java.util.Map" resultType="com.ssu.howabouthere.vo.Board">
        SELECT * FROM BOARD
        WHERE REGION_1ST_NAME = #{region_1st_name}
                AND REGION_2ND_NAME = #{region_2nd_name}
                AND REGION_3RD_NAME = #{region_3rd_name}
                AND REGION_4TH_NAME = #{region_4th_name}
    </select>
</mapper>